/*  Configuración general de la página  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
}

img {
    width: 9%;
    height: auto;
}

.jugador {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.mano {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;
    justify-content: space-around;
}

h1, h2, p {
    margin-left: 10px;
}

p {
    font-size: 18px;
    margin-bottom: auto;
}