* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER */ 

header {
    width: 100vw;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* NAV */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left:1.8em;
    padding-right: 1.8em;

    align-items: baseline;

    justify-content: space-around;
    background-color: lightcyan;

    border-radius: 5em;
}

/*

Tocando transiciones
    transition-duration: .45s, .45s, .5s;
    transition-property: width, visibility, opacity;
    transition-timing-function: ease-in-out, ease-in, ease-in-out;
    transition-delay: 0s, .35s, .25s;

*/

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

nav a span {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    width: 0em;
    height: inherit;

    transition-duration: .45s, 0s, .2s;
    transition-property: width, visibility, opacity;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, .4s, 0s;
}

.active {
    margin: .9em 0em .9em .0em;
    /*TRANSICIÓN A ACTIVO*/
}

.active > span{
    visibility: visible;
    opacity: 1;
    width: 5em;
    /*TRANSICIÓN A ACTIVO*/
    /* Delay en la aparición hasta alcanzar máximo width, cambiamos opacidad */
    transition-duration: .45s, 0s, .4s;
    transition-property: width, visibility, opacity;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, .45s;
}

a + .active + a{
    margin-left: 1em;
}

nav a:nth-child(1)::before {
    background-image: url(img/perfil.png);
}

nav a:nth-child(2)::before {
    background-image: url(img/proyectos.png);
}

nav a:nth-child(3)::before {
    background-image: url(img/contacto.png);
}

nav a::before {
    content: "";
    display: inline-block;

    position: relative;

    width: 2.8em;
    height: 2.8em;
    background-size: contain;
    margin-right: .8em;

    font-size: 1rem;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
